html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.bg-theme {
  background-color: #2b2b52;
}
.cart-icon {
  font-size: 2rem;
}
.hero-background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-background {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services-background {
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn-warning {
  padding: 8px 35px;
}

.courses-theme {
  background-color: #2b2b52;
}
